/*  */
html{
    font-family: 'Courier New', Courier, monospace;
}
#calBody{
    background-color: rgba(203,203,203,255);
    margin: auto;
    height: 600px;
    width: 320px;
    min-width: 320px;    
}

#sciClacDiv{
    width: 400px;
    height: 100%;
    float: left;
    display: none;
}
.SciCalc{
    width: 25%;
    float: left;
    height: 100%;
}
.epandCalc{
    width: 100%;
    height: 100%;
    background-color: rgba(68,68,68,255);
    color: #ffff;
    font-size: 40px;
    border: none;
}

.epandCalc:hover{
    background-color:rgb(204, 212, 212);
} 

.displayBody{
    height: 30%;
}
.InputBody{
    height: 100%;
    width: 320px; 
    float: left;
}
.resultDisplay{
    height: 100%;
    width: 73%;
    background-color: rgba(68,68,68,255); 
    font-size: 5vh;
    color: #ffff;
    border: none;
    padding: 0px;
    padding-right: 2%;
    text-align: right;
}

.equationDisplay{
    background-color: rgba(68,68,68,255);
    height: 50%;
    width: 98%; 
    font-size: 5vh;
    color: #ffff;
    border: none;
    padding: 0px;
    padding-right: 2%;
    text-align: right;
}

#operandsDiv{
    height: 20%;
}
#operatorsDiv{
    height: 20%;
}
.operators{
    float: left;
    background-color: rgba(102,194,255,255);
    height: 100%;
    width: 25%;
    font-size: 25px;
    color: #ffff;
    border: 1px solid rgba(203,203,203,255)
}
.operators:hover{
    background-color:rgb(15, 139, 221);
}

.operands{
    float: left;
    background-color: rgba(255,255,255,255);
    height: 100%;
    width: 25%;
    font-size: 25px;
    border: 1px solid rgba(203,203,203,255)
}
.operands:hover{
    background-color:rgb(38, 41, 41);
    color: rgba(255,255,255,255); ;
}

.forthDiv{
    float: left;
    background-color: rgba(0,153,255,255);
    height: 100%;
    width: 25%;
    font-size: 25px;
    color: #ffff;
    border: 1px solid rgba(203,203,203,255)
}
.forthDiv:hover{
    background-color:rgb(15, 139, 221);
}


.sciLayout{
    float: left;
    background-color: rgb(212, 227, 231);
    height: 100%;
    width: 16.65%;
    font-size: 20px;
    border: 1px solid rgba(203,203,203,255)
}
.deg{
    float: left;
    background-color: rgb(212, 227, 231);
    height: 100%;
    width: 16.67%;
    font-size: 20px;
    font-weight: bold;
    color: rgba(110,244,244,255);
    border: 1px solid rgba(203,203,203,255)
}



